<!doctype html>
<html lang="pl">
    {% set isAdmin = false %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% for role in app.user.getRoles() %}
            {% if role == 'ROLE_SUPER_ADMIN' %}
                {% set isAdmin = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <head>
        {% block stylesheets %}
                {% stylesheets
                    '@FrontendBundle/Resources/public/css/bootstrap.min.css' 
                    '@FrontendBundle/Resources/public/css/base.css'
                    'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css'
                    
                %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <title>ITA - {%block title %}Strona Główna{%endblock%}</title>
        <meta name="author" content="Grzegorz Osimowicz, Dawid Królak"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
          <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
           
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-block">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Uwaga!</h4>
              {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Błąd!</h4>
              {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert" href="#">×</a>
              {{flashMessage}}
            </div>
        {% endfor %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                  <a class="brand" href="#">ITA::Panel sterowania</a>
                  
                    <ul class="nav pull-right">
                        <li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{path('fos_user_security_logout')}}"><i class="icon-off icon-white"></i> wyloguj</a>
                        {% else %}
                            <a href="{{path('fos_user_security_login')}}"><i class="icon-user icon-white"></i> zaloguj</a>
                        {% endif %}
                        </li>
                    </ul>
                  
                  </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span3" id="leftMenu">
                    <div class="well" style="padding:8px 0;">
                        <ul class="nav nav-list">
                            {% block menu %}
                                {{ render(controller('FrontendBundle:Frontend:Menu')) }}
                                
                            {% endblock %}
                        </ul>
                    </div>
                </div>
                <div class="span9">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <div id="sponsors" class="span12">
                    <a href="http://uni.lodz.pl"><img src="{{asset('/bundles/frontend/images/logoUL.png')}}" alt="Uniwersytet Łódzki" title="Uniwersytet Łódzki"/></a>
                    <a href="http://wfis.uni.lodz.pl"><img src="{{asset('/bundles/frontend/images/wfis.jpg')}}" alt="Wydział Fizyki i Informatyki Stosowanej Uniwersytety Łódzkiego" title="WFIS"/></a>
                    <a href="http://wfis.uni.lodz.pl/edu"><img src="{{asset('/bundles/frontend/images/KMPNlogomini.jpg')}}" alt="Katedra Modelowania Procesów Nauczania" title="KMPN"/></a>
                    <a href="http://merlin.fic.uni.lodz.pl/nabla/"><img src="{{asset('/bundles/frontend/images/nabla.png')}}" alt="SKN Nabla" title="SKN Nabla"/></a>
                    <a href="http://www.zepwn.co.pl/"><img src="{{asset('/bundles/frontend/images/zpewn.jpg')}}" alt="Zakład Elektroniki Pomiarowej Wielkości Nieelektrycznych" title="Zakład Elektroniki Pomiarowej Wielkości Nieelektrycznych"/></a>
                    <a href="http://evboards.eu/"><img src="{{asset('/bundles/frontend/images/ev_boards.jpg')}}" alt="evboards.eu" title="evboards.eu"/></a>
                    <a href="http://www.mbridgetech.com/"><img src="{{asset('/bundles/frontend/images/microbridge.jpg')}}" alt="evboards.eu" title="evboards.eu"/></a>
                </div>
            </div>
            <footer>
                &copy; 2012 Wydział Fizyki i Informatyki Stosowanej Uniwersytetu Łódzkiego<br/>Wykonanie KrOs
            </footer>
        </div>  
        <!-- ================================== JAVA SCRIPTS ================================== -->
        
        {% block javascripts %}
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>           {% javascripts 
                'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'              
                'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
                '@FrontendBundle/Resources/public/js/bootstrap.min.js'

                '@FrontendBundle/Resources/public/js/websocket.js'
                '@FrontendBundle/Resources/public/js/sponsors.js'
                'bundles/fosjsrouting/js/router.js'     
                %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script type="text/javascript">$(function(){
                $('#ajaxLoader').modal('hide');
            });</script>
            <script type="text/javascript" src="{{ asset('') }}"></script>
        {% endblock %}
        <!-- ================================== END SCRIPTS ================================== -->
    </body>
</html>
