<!doctype html>
<html lang="pl">
    <head>
        <title>ITA - {%block title %}Strona Główna{%endblock%}</title>
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" />

        <meta name="author" content="Grzegorz Osimowicz, Dawid Królak"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div class="container">
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-block">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Uwaga!</h4>
              {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Błąd!</h4>
              {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert" href="#">×</a>
              {{flashMessage}}
            </div>
        {% endfor %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/#">ITA::Panel sterowania</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{path('fos_user_security_logout')}}"><i class="glyphicon glyphicon-off"></i> wyloguj</a>
                    {% else %}
                        <a href="{{path('fos_user_security_login')}}"><i class="glyphicon glyphicon-user"></i> zaloguj</a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-2">
                 <ul class="well nav nav-pills nav-stacked">
                        {{ render(controller('FrontendBundle:Frontend:Menu')) }}
                 </ul>
            </div>
            <div class="col-md-10" id="leftMenu">
                {% block content %}{% endblock %}
            </div>
        </div>
            <div class="row">
                <div class="col-md-12 sponsors">
                    <a href="http://uni.lodz.pl"><img src="{{asset('/bundles/frontend/images/logoUL.png')}}" alt="Uniwersytet Łódzki" title="Uniwersytet Łódzki"/></a>
                    <a href="http://wfis.uni.lodz.pl"><img src="{{asset('/bundles/frontend/images/wfis.jpg')}}" alt="Wydział Fizyki i Informatyki Stosowanej Uniwersytety Łódzkiego" title="WFIS"/></a>
                    <a href="http://wfis.uni.lodz.pl/edu"><img src="{{asset('/bundles/frontend/images/KMPNlogomini.jpg')}}" alt="Katedra Modelowania Procesów Nauczania" title="KMPN"/></a>
                    <a href="http://merlin.fic.uni.lodz.pl/nabla/"><img src="{{asset('/bundles/frontend/images/nabla.png')}}" alt="SKN Nabla" title="SKN Nabla"/></a>
                    <a href="http://www.zepwn.co.pl/"><img src="{{asset('/bundles/frontend/images/zpewn.jpg')}}" alt="Zakład Elektroniki Pomiarowej Wielkości Nieelektrycznych" title="Zakład Elektroniki Pomiarowej Wielkości Nieelektrycznych"/></a>
                    <a href="http://evboards.eu/"><img src="{{asset('/bundles/frontend/images/ev_boards.jpg')}}" alt="evboards.eu" title="evboards.eu"/></a>
                    <a href="http://www.mbridgetech.com/"><img src="{{asset('/bundles/frontend/images/microbridge.jpg')}}" alt="evboards.eu" title="evboards.eu"/></a>
                </div>
            </div>
            <footer>
                &copy; 2012-2015 Wydział Fizyki i Informatyki Stosowanej Uniwersytetu Łódzkiego<br/>Wykonanie KrOs
            </footer>
        </div>
        <!-- ================================== JAVA SCRIPTS ================================== -->
        
        <script src="/jspm_packages/system.js"></script>
        <script src="/config.js"></script>
        <script>
            System.import("jquery");
            System.import("flot/flot");
            System.import("jquery-ui");
        </script>
            {% block javascripts %}
            {% endblock %}

        <!-- ================================== END SCRIPTS ================================== -->
    </body>
</html>
