{% extends 'FrontendBundle::base.html.twig' %}

{% block content %}
  {% if is_granted('ROLE_ADMIN') %}
    <div class="editArticle"><a href="{{path('editArticle',{slug:article.slug})}}"><i class="icon-edit"></i> edytuj</a> <a href="{{path('deleteArticle',{slug:article.slug})}}" class="red"><i class=" icon-trash"></i> usuń</a></div>
  {% endif %}
  <h2>{{article.title}}</h2>
  <div>
    {% autoescape 'js' %}
        {{article.content}}
    {% endautoescape %}
  </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}
